.news {
    display: flex;
    height: 300px;
    width: 100%;
}

.news__content {
    margin: auto;
    font-size: 20px;
    width: auto;
    text-align: center;

}

.h1 {
    font-size: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.answer{
    font-size: 30px;
    position: center;
    color: rgb(2, 11, 16);
  }
  
  .form-btn{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content:center;
    margin-top: 10px;
    align-content: center;
    position: relative;

    
  }
  
  .form-btn > input{
    border: black;
    padding-left: 10px;
    flex-grow: 0.9;
  }
  
  .form-btn > button{
    border: black;
    background-color: none;
    background: none;
    padding-right: 10px;
  }