header {
    background-image: URL("../../assets/img/head.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container-header {
    min-height: 150vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: white;
    justify-content:space-around;
    
  }
  
  .inside-btn {
    padding: 10px 50px;
    border-radius: 10px;
    border-color: #ffff;
    opacity: 10px;
    background-color: transparent;
    color: #ffff;
    border: solid 1px;
  }
  
  .text-header {
    text-align: center;
    font-size: 60px;
  }
  