.navbar{
    width: 100%;
    display: flex;
    margin: 15 px auto;
    padding: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.item {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-right: 1px solid whitesmoke;

}

.navbar.space-between{
    justify-content:space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;

    
}

.section{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 10px;
    justify-content: center;
    padding: 10px 50px;
    text-align: center;
    font-size: 30px;
    opacity: 10px;
    background-color: transparent;
    color: #ffff;
   
}

.shopping{
    flex-wrap: wrap;
    width: 25%;
    margin: 5px;
    justify-content: flex-end;
    align-items: baseline;
}

.shopping >span{
    flex-wrap: wrap;
    padding: 3px;
    font-size: 15px;
}