.navbar{
    width: 100%;
    display: flex;
    margin: 10 px auto;
    padding: 3px;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.item {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-right: 1px solid whitesmoke;

}

.itemF{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

.span > select{
    background-color:transparent;
    color: antiquewhite;
    border-right: 2px;
    border: none;

}

.item .intemF{
    font-size: 25px;
    padding: 7px;
}

.navbar.space-between{
    justify-content:space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    
}

.section{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px;
    justify-content: center;
      
}

.shopping{
    flex-wrap: wrap;
    width: 30%;
    margin: 5px;
    justify-content: flex-end;
    align-items: baseline;
    display: flex;
}

.shopping >span{
    flex-wrap: wrap;
    padding: 3px;
    font-size: 20px;
}