.Box {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
  }
  
  .container-box > h4 {
    border-bottom: 1px solid #000;
    width: 15%;
    text-align: center;
  }
  
  .container-box > p {
    text-align: center;
  }
  
  .container-box > img {
    width: 100px;
    height: 100px;
  }
  
  .info {
    background-color: none;
  }
  